### Starting with Data analysis of new charging stations data

In [2]:
import pandas as pd

# Load your new dataset
df_stations = pd.read_csv("chargingStations.csv")

# Basic info
print("SHAPE:", df_stations.shape)
print("\nCOLUMNS:\n", df_stations.columns.tolist())
print("\nSUMMARY STATS:\n", df_stations.describe(include='all'))
print("\nNULL VALUES:\n", df_stations.isnull().sum())

SHAPE: (4777, 98)

COLUMNS:
 ['chargeDeviceID', 'reference', 'name', 'latitude', 'longitude', 'postcode', 'countryCode', 'deviceNetworks', 'locationType', 'connector1ID', 'connector1Type', 'connector1RatedOutputKW', 'connector1OutputCurrent', 'connector1RatedVoltage', 'connector1ChargeMethod', 'connector1ChargeMode', 'connector1TetheredCable', 'connector1Status', 'connector1Description', 'connector1Validated', 'connector2ID', 'connector2Type', 'connector2RatedOutputKW', 'connector2OutputCurrent', 'connector2RatedVoltage', 'connector2ChargeMethod', 'connector2ChargeMode', 'connector2TetheredCable', 'connector2Status', 'connector2Description', 'connector2Validated', 'connector3ID', 'connector3Type', 'connector3RatedOutputKW', 'connector3OutputCurrent', 'connector3RatedVoltage', 'connector3ChargeMethod', 'connector3ChargeMode', 'connector3TetheredCable', 'connector3Status', 'connector3Description', 'connector3Validated', 'connector4ID', 'connector4Type', 'connector4RatedOutputKW', 'connector4OutputCurrent', 'connector4RatedVoltage', 'connector4ChargeMethod', 'connector4ChargeMode', 'connector4TetheredCable', 'connector4Status', 'connector4Description', 'connector4Validated', 'connector5ID', 'connector5Type', 'connector5RatedOutputKW', 'connector5OutputCurrent', 'connector5RatedVoltage', 'connector5ChargeMethod', 'connector5ChargeMode', 'connector5TetheredCable', 'connector5Status', 'connector5Description', 'connector5Validated', 'connector6ID', 'connector6Type', 'connector6RatedOutputKW', 'connector6OutputCurrent', 'connector6RatedVoltage', 'connector6ChargeMethod', 'connector6ChargeMode', 'connector6TetheredCable', 'connector6Status', 'connector6Description', 'connector6Validated', 'connector7ID', 'connector7Type', 'connector7RatedOutputKW', 'connector7OutputCurrent', 'connector7RatedVoltage', 'connector7ChargeMethod', 'connector7ChargeMode', 'connector7TetheredCable', 'connector7Status', 'connector7Description', 'connector7Validated', 'connector8ID', 'connector8Type', 'connector8RatedOutputKW', 'connector8OutputCurrent', 'connector8RatedVoltage', 'connector8ChargeMethod', 'connector8ChargeMode', 'connector8TetheredCable', 'connector8Status', 'connector8Description', 'connector8Validated', 'borough']

SUMMARY STATS:
                           chargeDeviceID reference  \
count                               4777      4777
unique                              4777      4777
top     68c7fca1e3bba5e49ec90847dcdd456b     CM164
freq                                   1         1
mean                                 NaN       NaN
std                                  NaN       NaN
min                                  NaN       NaN
25%                                  NaN       NaN
50%                                  NaN       NaN
75%                                  NaN       NaN
max                                  NaN       NaN

                                         name     latitude    longitude  \
count                                    4777  4777.000000  4777.000000
unique                                   3463          NaN          NaN
top     Q-Park Park Lane Fleet Hub, Park Lane          NaN          NaN
freq                                       25          NaN          NaN
mean                                      NaN    51.500438    -0.153725
std                                       NaN     0.025333     0.063726
min                                       NaN    51.344749    -1.493180
25%                                       NaN    51.486000    -0.207938
50%                                       NaN    51.496970    -0.154709
75%                                       NaN    51.517280    -0.110990
max                                       NaN    52.069079     0.221927

       postcode countryCode deviceNetworks locationType   connector1ID  ...  \
count      4777        4777           4777         4777    4777.000000  ...
unique     2936           1             20           11            NaN  ...
top     W1K 7AN          gb     ubitricity    On-street            NaN  ...
freq         25        4777           1810         3815            NaN  ...
mean        NaN         NaN            NaN          NaN  182873.743982  ...
std         NaN         NaN            NaN          NaN   22756.985076  ...
min         NaN         NaN            NaN          NaN    6592.000000  ...
25%         NaN         NaN            NaN          NaN  171231.000000  ...
50%         NaN         NaN            NaN          NaN  188741.000000  ...
75%         NaN         NaN            NaN          NaN  192139.000000  ...
max         NaN         NaN            NaN          NaN  221230.000000  ...

       connector8RatedOutputKW  connector8OutputCurrent  \
count                 3.000000                      3.0
unique                     NaN                      NaN
top                        NaN                      NaN
freq                       NaN                      NaN
mean                158.333333                    375.0
std                  14.433757                      0.0
min                 150.000000                    375.0
25%                 150.000000                    375.0
50%                 150.000000                    375.0
75%                 162.500000                    375.0
max                 175.000000                    375.0

        connector8RatedVoltage  connector8ChargeMethod connector8ChargeMode  \
count                 3.000000                       3                  3.0
unique                     NaN                       1                  NaN
top                        NaN                      DC                  NaN
freq                       NaN                       3                  NaN
mean                576.666667                     NaN                  4.0
std                 305.995643                     NaN                  0.0
min                 400.000000                     NaN                  4.0
25%                 400.000000                     NaN                  4.0
50%                 400.000000                     NaN                  4.0
75%                 665.000000                     NaN                  4.0
max                 930.000000                     NaN                  4.0

        connector8TetheredCable  connector8Status connector8Description  \
count                       3.0                 3                   0.0
unique                      NaN                 1                   NaN
top                         NaN        In service                   NaN
freq                        NaN                 3                   NaN
mean                        1.0               NaN                   NaN
std                         0.0               NaN                   NaN
min                         1.0               NaN                   NaN
25%                         1.0               NaN                   NaN
50%                         1.0               NaN                   NaN
75%                         1.0               NaN                   NaN
max                         1.0               NaN                   NaN

        connector8Validated                 borough
count                   3.0                    4777
unique                  NaN                       9
top                     NaN  hammersmith and fulham
freq                    NaN                    1840
mean                    0.0                     NaN
std                     0.0                     NaN
min                     0.0                     NaN
25%                     0.0                     NaN
50%                     0.0                     NaN
75%                     0.0                     NaN
max                     0.0                     NaN

[11 rows x 98 columns]

NULL VALUES:
 chargeDeviceID                0
reference                     0
name                          0
latitude                      0
longitude                     0
                           ...
connector8TetheredCable    4774
connector8Status           4774
connector8Description      4777
connector8Validated        4774
borough                       0
Length: 98, dtype: int64

### For ChargePoint Network Bv Netherlands (might change it to qwello) 20 values

In [9]:
# Filter rows where device network matches
filtered = df_stations[df_stations['deviceNetworks'] == "ChargePoint Network (Netherlands) B.V."]

# Select only specific columns
result = filtered[["town", "county", "deviceOwnerName", "attribution","borough"]]

# Display the result
print(result)

        town          county deviceOwnerName  \
4151  London  Greater London       *No Owner
4152  London  Greater London       *No Owner
4153  London  Greater London       *No Owner
4154  London  Greater London       *No Owner
4155  London  Greater London       *No Owner
4156  London  Greater London       *No Owner
4157  London  Greater London       *No Owner
4158  London  Greater London       *No Owner
4159  London  Greater London       *No Owner
4160  London  Greater London       *No Owner
4161  London  Greater London       *No Owner
4162  London  Greater London       *No Owner
4163  London  Greater London       *No Owner
4164  London  Greater London       *No Owner
4165  London  Greater London       *No Owner
4166  London  Greater London       *No Owner
4167  London  Greater London       *No Owner
4168  London  Greater London       *No Owner
4169  London  Greater London       *No Owner
4170  London  Greater London       *No Owner

                                 attribution        borough
4151  ChargePoint Network (Netherlands) B.V.        lambeth
4152  ChargePoint Network (Netherlands) B.V.    westminster
4153  ChargePoint Network (Netherlands) B.V.        lambeth
4154  ChargePoint Network (Netherlands) B.V.    westminster
4155  ChargePoint Network (Netherlands) B.V.  tower hamlets
4156  ChargePoint Network (Netherlands) B.V.  tower hamlets
4157  ChargePoint Network (Netherlands) B.V.        lambeth
4158  ChargePoint Network (Netherlands) B.V.        lambeth
4159  ChargePoint Network (Netherlands) B.V.    westminster
4160  ChargePoint Network (Netherlands) B.V.    westminster
4161  ChargePoint Network (Netherlands) B.V.  tower hamlets
4162  ChargePoint Network (Netherlands) B.V.  tower hamlets
4163  ChargePoint Network (Netherlands) B.V.        lambeth
4164  ChargePoint Network (Netherlands) B.V.        lambeth
4165  ChargePoint Network (Netherlands) B.V.        lambeth
4166  ChargePoint Network (Netherlands) B.V.        lambeth
4167  ChargePoint Network (Netherlands) B.V.        lambeth
4168  ChargePoint Network (Netherlands) B.V.        lambeth
4169  ChargePoint Network (Netherlands) B.V.         camden
4170  ChargePoint Network (Netherlands) B.V.         camden

### For Drax Energy Solutions Limited 6 values

In [10]:
# Filter rows where device network matches
filtered = df_stations[df_stations['deviceNetworks'] == "Drax Energy Solutions Limited"]

# Select only specific columns
result = filtered[["town", "county", "deviceOwnerName", "attribution","borough"]]

# Display the result
print(result)

          town          county        deviceOwnerName  \
2597    London  Greater London  Ista Energy Solutions
2598    London  Greater London  Ista Energy Solutions
2599    London  Greater London  Ista Energy Solutions
2600  Bankside  Greater London  Ista Energy Solutions
2601   London          London   Ista Energy Solutions
2602   London          London   Ista Energy Solutions

                        attribution                 borough
2597  Drax Energy Solutions Limited  hammersmith and fulham
2598  Drax Energy Solutions Limited  hammersmith and fulham
2599  Drax Energy Solutions Limited                 lambeth
2600  Drax Energy Solutions Limited                 lambeth
2601  Drax Energy Solutions Limited                 lambeth
2602  Drax Energy Solutions Limited                 lambeth

### For E.ON Drive its camden so whatever chargers are most in camden we will change the values to that.

In [ ]:
# Filter rows where device network matches
filtered = df_stations[df_stations['deviceNetworks'] == "E.ON Drive"]

# Select only specific columns
result = filtered[["town", "county", "deviceOwnerName", "attribution","borough"]]

# Display the result
print(result)

               town  county deviceOwnerName attribution borough
2333  Charing Cross  London      E.ON Drive  E.ON Drive  camden

### For London Borough of Hackney	tower hamlets whatever is highest

In [13]:
# Filter rows where device network matches
filtered = df_stations[df_stations['deviceNetworks'] == "London Borough of Hackney"]

# Select only specific columns
result = filtered[["town", "county", "deviceOwnerName", "attribution","borough"]]

# Display the result
print(result)

             town          county      deviceOwnerName  \
67  Bethnal Green  Greater London  Equans EV Solutions

                  attribution        borough
67  London Borough of Hackney  tower hamlets

### Deleting the charging stations where their pricings couldnt be found

In [ ]:
# Define networks to remove
networks_to_remove = ["London Borough of Hackney", "E.ON Drive","Drax Energy Solutions Limited","ChargePoint Network (Netherlands) B.V."]

# Filter out rows with those device networks
df_stations_cleaned = df_stations[~df_stations["deviceNetworks"].isin(networks_to_remove)].copy()

# Save the cleaned dataset
df_stations_cleaned.to_csv("chargingStations.csv", index=False)

### As per online information Charge Your Car and BP Pulse Polar are both BP Pulse now

In [ ]:
# Replace specified names
df_stations['deviceNetworks'] = df_stations['deviceNetworks'].replace({
    "Charge Your Car": "BP Pulse",
    "BP-Pulse (POLAR)": "BP Pulse"
})

# Save the updated dataset
df_stations.to_csv("chargingStations.csv", index=False)

### Shell Recharge solutions was found to be a private charging so we are removing them

In [ ]:
# Define networks to remove
networks_to_remove = ["Shell Recharge Solutions"]

# Filter out rows with those device networks
df_stations_cleaned = df_stations[~df_stations["deviceNetworks"].isin(networks_to_remove)].copy()

# Save the cleaned dataset
df_stations_cleaned.to_csv("chargingStations.csv", index=False)

### Now lets clean the dataset to get our desired columns

In [8]:
df = pd.read_csv("chargingStations.csv")

In [4]:
# Drop all columns where *every* value is NaN
df_cleaned = df.dropna(axis=1, how='all')
dropped_cols = df.columns.difference(df_cleaned.columns)
print("Dropped empty columns:", dropped_cols.tolist())

Dropped empty columns: ['connector1Description', 'connector2Description', 'connector3Description', 'connector4Description', 'connector5Description', 'connector6Description', 'connector7Description', 'connector8Description']

### Removing redundant or not needed columns from dataset regarding connectors

In [9]:
connector_cols_to_keep = []

for i in range(1, 9):
    connector_cols_to_keep += [
        f'connector{i}Type',
        f'connector{i}RatedOutputKW',
        f'connector{i}ChargeMethod',
        f'connector{i}Status'
    ]

# Get all connector-related columns
all_connector_cols = [col for col in df.columns if col.startswith('connector')]

# Drop only those not in the keep list
connector_cols_to_drop = list(set(all_connector_cols) - set(connector_cols_to_keep))

# Drop and save
df.drop(columns=connector_cols_to_drop, inplace=True)
df.to_csv("chargingStations.csv", index=False)