In [1]:
import pandas as pd

df_archived = pd.read_csv("Actual Datasets/Archived data- National Charge-point Registry - Nov 2024.csv")

C:\Users\HP\AppData\Local\Temp\ipykernel_9804\4212543252.py:3: DtypeWarning: Columns (5,7,10,11,17,18,19,21,24,42,44,46,47,49,51,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,79,90,101,104,108,111,112,115,119,122,123,126,130,133,134,137,141,144,148,152,155) have mixed types. Specify dtype option on import or set low_memory=False.
  df_archived = pd.read_csv("Actual Datasets/Archived data- National Charge-point Registry - Nov 2024.csv")

In [2]:
df_archived.info()
df_archived.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43565 entries, 0 to 43564
Columns: 158 entries, chargeDeviceID to connector8Validated
dtypes: float64(61), int64(11), object(86)
memory usage: 52.5+ MB

,chargeDeviceID,reference,name,latitude,longitude,subBuildingName,buildingName,buildingNumber,thoroughfare,street,...,connector8Type,connector8RatedOutputKW,connector8OutputCurrent,connector8RatedVoltage,connector8ChargeMethod,connector8ChargeMode,connector8TetheredCable,connector8Status,connector8Description,connector8Validated
0,b86a77a42bb68c81946ec50cfc95e89d,11172306P,Network Rail Westwood Centre 1,52.386590,-1.587384,NaN,NaN,320,NaN,Westwood Heath Road,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,dc1c347d471f68e41ad2a9a1145941d6,APT-0296-0015/13P,Brindley Drive Car Park Birmingham - 70524,52.480918,-1.907710,NaN,NaN,NaN,Paradise Circus,Brindley Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7d545ad9367ccb8a80c94a953314ae71,CM123,Renault Liverpool,53.383579,-2.977230,NaN,NaN,NaN,NaN,Sefton Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,68c7fca1e3bba5e49ec90847dcdd456b,CM164,NCP Portman Square,51.516201,-0.157996,NaN,NaN,NaN,NaN,Gloucester Place,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ac7a21c48f5833b33a5b606b2089e6a9,CM167,NCP Prince Street Car Park,51.450340,-2.596704,NaN,NaN,NaN,NaN,Prince Street,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import pandas as pd

# Load the dataset
df_archived = pd.read_csv("Actual Datasets/Archived data- National Charge-point Registry - Nov 2024.csv")

# Define postcode prefixes for each borough
borough_postcodes = {
    "camden": ["NW1", "WC1", "WC2"],
    "westminster": ["W1", "SW1", "WC1", "WC2"],
    "islington": ["N1", "EC1", "EC2"],
    "kensington and chelsea": ["W8", "SW7", "SW5"],
    "hammersmith and fulham": ["W6", "SW6", "W14"],
    "hackney": ["E8", "E9", "N1"],
    "tower hamlets": ["E1", "E2", "E3", "E14"],
    "lambeth": ["SE1", "SW2", "SW4", "SW9"],
    "city of london": ["EC1", "EC2", "EC3", "EC4"]
}

# Extract and clean postcode prefix
df_archived['postcode'] = df_archived['postcode'].astype(str).str.upper().str.strip()
df_archived['postcode_prefix'] = df_archived['postcode'].str.extract(r'^([A-Z]{1,2}\d{1,2})', expand=False)
df_archived['postcode_prefix'] = df_archived['postcode_prefix'].str.upper()

# Function to map postcode prefix to borough
def get_borough(prefix):
    for borough, prefixes in borough_postcodes.items():
        if prefix in prefixes:
            return borough
    return None

# Apply function and filter rows
df_archived['borough'] = df_archived['postcode_prefix'].apply(get_borough)
filtered = df_archived[df_archived['borough'].notnull()].copy()

# Drop postcode_prefix if you no longer need it
filtered = filtered.drop(columns=['postcode_prefix'])

# Save the result
filtered.to_csv("Actual Datasets/chargingStations.csv", index=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_9804\244635886.py:4: DtypeWarning: Columns (5,7,10,11,17,18,19,21,24,42,44,46,47,49,51,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,79,90,101,104,108,111,112,115,119,122,123,126,130,133,134,137,141,144,148,152,155) have mixed types. Specify dtype option on import or set low_memory=False.
  df_archived = pd.read_csv("Actual Datasets/Archived data- National Charge-point Registry - Nov 2024.csv")

In [9]:
# Get value counts of device networks from the filtered dataset
device_network_counts = (
    filtered['deviceNetworks']
    .fillna("Unknown")
    .value_counts()
    .rename_axis("device_network")
    .reset_index(name="num_chargers")
)
device_network_counts

                            device_network  num_chargers
0                               ubitricity          1810
1                     SureCharge/FM Conway          1363
2                            Source London           559
3                                  Char.gy           382
4                                     Zest           185
5                                 BP Pulse           145
6                                  City EV            54
7                                POD Point            52
8                                   Qwello            49
9                                   Believ            39
10                        ESB EV Solutions            28
11                          Connected Kerb            25
12                          Shell Recharge            22
13  ChargePoint Network (Netherlands) B.V.            20
14                         Charge Your Car            14
15                  The GeniePoint Network            13
16           Drax Energy Solutions Limited             6
17                          Blink Charging             6
18                Shell Recharge Solutions             4
19                            Smart Charge             2
20                              E.ON Drive             1
21               London Borough of Hackney             1
22                        BP-Pulse (POLAR)             1